header {
  width: 100vw;
  height: 100px;
  background-color: gray;
  padding-top: 20px;
  padding-left: 25px;
}
div {
  width: 75px;
  height: 75px;
  background-color: blue;
}
.text {
  text-align: center;
  padding: 40px 25px;
  font-size: 25px;
}
.blue {
  height: 120px;
  width: 100vw;
  background-color: blue;
}
.cyan {
  height: 120px;
  width: 100vw;
  background-color: cyan;
}
.green {
  height: 120px;
  width: 100vw;
  background-color: greenyellow;
}
footer {
  height: 120px;
  width: 100vw;
  background-color: yellow;
}